version: 2
jobs:
  build:
    working_directory: ~/todo_with_auth
    docker:
      - image: elixir:1.5.3
      - image: postgres:10.1
        environment:
          POSTGRES_USER: postgres
    steps:
      - checkout
      - run: mix local.hex --force
      - run: mix local.rebar
      - run: mix deps.get
      - run: mix ecto.create
      - run: mix test
